{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
    <br/>
    <h1 align="center">Notes</h1>

    <!--Deleting Note-->
    <ul class="list-group list-group-flush" id="notes">
      {% for note in user.portf%}
      <li class="list-group-item">
        {{ note.asset}}
        <button type="button" class="close" onClick="deleteNote({{note.id}})">
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    
    
    <!--Adding Note-->
    <form method="POST">
      <textarea name="note" id="note" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
      </div>
      <br/>
    </form>

<!-- ############################################################### -->

  <h1 align="center">Your Portfolio</h1>
  <ul class="list-group list-group-flush" id="portf">
    {% for portfolio in user.portf %}
    <li class="list-group-item">
      {{ portfolio.asset }}
      {{ portfolio.bought }}
      {{ portfolio.asset_type}}
      
      <button type="button" class="close" onClick="deleteAsset({{portfolio.id}})">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
    {% endfor %}
  </ul>

  <!--Adding Stock-->

<div id="accordion">
{% for note in user.portf%}
  <div class="card">
    <div class="card-header" id="{{note.asset_type}}">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#{{note.asset}}" aria-expanded="true" aria-controls="{{note.asset}}">
        {{ note.asset}}
        </button>
      </h5>
    </div>
    <div id="{{note.asset}}" class="collapse show" aria-labelledby="{{note.asset_type}}" data-parent="#accordion">
      <div class="card-body">
        <img src="static/{{note.asset}}.png" alt="">{{note.asset}}
      </div>
    </div>
  </div>
{% endfor %}
</div>
  <form method="POST">
    <!-- 
      <div class="form-group mx-sm-3 mb-2">
      <input type="text" class="form-control" id="asset" placeholder="BTC, ETH" name = "asset">
    </div> 
    <textarea name="asset" id="asset" class="form-control"></textarea>
    -->
  <br/>  
  <div class="form-group">
    <label for="asset">Asset</label>
    <br>
    <!--
    <link href="css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="js/bootstrap-toggle.min.js"></script>
    -->
  <input type="checkbox" checked data-toggle="toggle" text = "Stock">
    <input
      type="text"
      class="form-control"
      id="asset"
      name="asset"
      placeholder="Enter asset"
    />
  </div>

  <div class="form-group">
    <label for="asset_type">Asset Type</label>
  </div>  
  <div class="ext" style="display:flex;column-gap: 20px;">
      Stock   
    <label class="switch">
      <input type="checkbox">
      <div class="slider"></div>
    </label>
    Crypto
  </div>

  <div class="form-group">
    <label for="bought">Bought For</label>
    <input
      type="integer"
      class="form-control"
      id="bought"
      name="bought"
      placeholder="Enter Price Bought For"
    />
  </div>
  <div class="form-group">
    <label for="quantity">Quantity</label>
    <input
      type="text"
      class="form-control"
      id="quantity"
      name="quantity"
      placeholder="Enter number of assets"
    />
  </div>
  <div class="form-group">
    <label for="date_bought">Date Bought</label>
    <input
      type="text"
      class="form-control"
      id="date_bought"
      name="date_bought"
      placeholder="Date Purchased"
    />
    
  </div>
  <div align="center"> 
    <button type="submit" class="btn btn-primary">Add to Portfolio</button>
  </div>
</form>
{% endblock %}
