{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Your Portfolio</h1>
    </div>
<!--
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
-->

Enter your asset
<div class="dropdown">
  <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Add your stock</button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">Stock</button>
    <button class="dropdown-item" type="button">Index</button>
    <button class="dropdown-item" type="button">Crypto</button>
  </div>
</div>

<br></br>

<!-- table -->
<table class="table table-sm">
  <tr class="bg-primary">
  <thead>
    <tr>
      <tr class="bg-primary"></tr>
      <th scope="col">#</th>
      <th scope="col">Asset type</th>
      <th scope="col">Code</th>
      <th scope="col">Avg Price (AUD)</th>
      <th scope="col">Profit/Loss</th>
      <th scope="col">Units</th>
      <th scope="col">Price (AUD)</th>
      <th scope="col">Value</th>
      <th scope="col">Weight (%)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

{% endblock %}
